<div class="jumbotron text-center shadow">
  <h1>We Are My Veg Recipes!</h1>
</div>

<div class="col-md-12 jumbotron text-center shadow">
  <p>We are a community of chefs, connoisseurs, or people that just love cooking. Together we become chefs by feeding (and cooking) off each other's recipes!</p>
</div>

<div class="row">  
  <div class="col-md-6 col-md-offset-3 text-center">
    <div class="well shadow">
      <%= image_tag('pizza.png', class: "about-pic") %>
      <p></p>
    </div>
  </div>
</div>