<div class="jumbotron text-center">
  <h1>Welcome to My Recipes App!</h1>
  <h2>Get all the information you need on making only the best recipes!</h2>
  <%= link_to "Sign Up", "", class: "btn btn-lg btn-success" %>
</div>
<div class="row">
  <div class="col-md-4 text-center well">
    <h3 class="midrow">View Recipes as Guest User</h3>
    <h2>Browse and View Recipes as a Guest and Sign Up Later</h2>
    <p><%= link_to "Browse Recipe Listings", recipes_path, class: "btn btn-primary btn-small" %></p>
  </div>
  <div class="col-md-4 text-center well">
    <h3 class="midrow">View Recipes as Guest User</h3>
    <h2>Browse and View Recipes as a Guest and Sign Up Later</h2>
    <p><%= link_to "Browse Recipe Listings", recipes_path, class: "btn btn-primary btn-small" %></p>
  </div>
  <div class="col-md-4 text-center well">
    <h3 class="midrow">View Recipes as Guest User</h3>
    <h2>Browse and View Recipes as a Guest and Sign Up Later</h2>
    <p><%= link_to "Browse Recipe Listings", recipes_path, class: "btn btn-primary btn-small" %></p>
  </div>
</div>