$navbar-default-bg: #fff;
$forest-green: #41b866;
$navbar-default-color: $forest-green;

@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
  margin: 10px 10px 10px 10px;
  float: left;
  font-size: 2em;
  color: #ed6542;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
  color: #41b866;
  text-decoration: none;
}

body {
  background-color: #f1efea;
}

.nav_item {
  margin-left: 25px;
  float: right;
  margin-top: 20px;
}

.nav_ul_item {
  padding-left: 25px;
  float: right;
  margin-top: 20px;
}

.navbar {
  border-bottom: 2px solid #999;
}

ul {
  list-style-type: none;
}

h1, h2, h3, h4 {
  line-heigh: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
}

h2 {
  font-size: 1.2em;
  margin-bottom: 30px;
  font-weight: normal;
  color: #27374c;
}

.well, .jumbotron {
  background-color: white;
  border-bottom: 2px solid #999;
}

.footer {
  margin-top: 25px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

#logo-veg {
  color: #41b866;
}

#logo-veg:hover {
  color: #ed6542;
}

.chef_info {
  margin-top: 20px;
}

.gravatar {
  border-radius: 20px;
  border: 2px solid #f1efea;
}


hr {
    height: 30px;
    border-style: solid;
    border-color: #999;
    border-width: 1px 0 0 0;
    border-radius: 20px;
}
hr:before { /* Not really supposed to work, but does */
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: #999;
    border-width: 0 0 1px 0;
    border-radius: 20px;
}

a {
  color: #287fb8;
}

input, textarea, select, .uneditable-input {
  border: 1px solid #999;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 15px;
}

input {
  height: auto !important;
}

.input_checkbox input {
  width: auto !important;
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}

.show_recipe {
  margin: 10px 10px 10px 10px;
}

button.navbar-toggle {
  margin-top: 20px;
}

#user-profile {
  color: #fff !important;
}

.navbar-right {
  margin-top: 10px;
}

a#user-profile.dropdown-toggle.glyphicon.glyphicon-user.btn.btn-success {
  padding: 10px 10px 10px 10px;
}

a#user-profile.dropdown-toggle.glyphicon.glyphicon-user.btn.btn-success:hover {
  background-color: #469E46;
}

.recipe-index-img {
  max-height: 200px;
  max-width: 300px;
  width: auto;
  height: auto;
  border-radius: 5px;
}

.title-chef-show {
  background-color: #287fb8;
  color: #fff;
}