<header class="navbar navbar-fixed-top navbar-default">
  <div class="container">
    <%= link_to home_path, class: 'navbar-brand', id: "logo" do %>
      My Recipes
    <% end %>
    <div class="nav_item">
      <%= link_to "link 1", "", class: "btn btn-default btn-success" %>
    </div>
    <div class="nav_item">
      <%= link_to "link 2", "", class: "btn btn-default btn-success" %>
    </div>
    <div class="nav_item">
      <%= link_to "link 3", "", class: "btn btn-default btn-success" %>
    </div>
  </div>
</header>